<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD style="width: 100%; text-align: left; white-space: nowrap;" class="hand" >
		<table style="width:100%;"> 
			<tr>
			<td style="width:50%;text-align:left;" class="bold" onClick="showOrHide('objectnodes');">
				<IMG SRC="img/node.gif" ALT="">{t a=$netobjlist|@count}Assigned net objects ($a):{/t}</td>
			<td style="width:50%;text-align:right;">
				<a href="#" onclick="popup('?m=choosenetobj&id={$objectid}',1,1,-50,-40);autoiframe_setsize('autoiframe',500,290);return false;">
					<IMG SRC="img/netobj.gif" ALT=""> {trans("Add objects to node")}</a></td>
		</table>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR id="objectnodes" style="display:none;">
		<TD style="width: 100%;">
			<TABLE class="lmsbox-inner">
                            <THEAD>
				<TR>
					<TD style="width: 9%; white-space: nowrap;">
						<img src="img/node.gif" ALT=""> <span class="bold">{trans("Type")} / {trans("Name:")}</span><BR>
						<img src="img/producer.gif" ALT=""> {trans("Manufacturer:")}/{trans("Model:")}/{trans("Location:")}
					</TD>
					<TD style="width: 30%;">
						{trans("Parameter")}:
					</TD>
					<TD style="width: 30%; white-space: nowrap;">
						{trans("Cables")} ({trans("Name")}/{trans("Producer")} {trans("Model")}/{trans("Numer of fibers")}/{trans("Length")}):
					</TD>
					<TD style="width: 30%;">
						{trans("Destination object")}:
					</TD>
					<TD style="width: 1%;">&nbsp;</TD>
				</TR>
                            </THEAD>
                            <TBODY>
				{cycle values="light,lucid" print=false}
				{foreach key=netobjid item=netobj from=$netobjlist}
				<tr class="highlight {cycle}"  id="ndsp{$netobj.id}">
					<td style="vertical-align: middle;" rowspan="{$netobj.cables|@count}" onclick="window.location='?m=netobjinfo&id={$netobj.id}'">
						<img src="img/netobj.gif" alt=""><b>{$_NETOBJECTTYPES[$netobj.type].label} / {$netobj.name}</b><br/>
							<img src="img/producer.gif" alt=""><nobr>{$netobj.producer} / {$netobj.model} /	{if $netobj.location} {$netobj.location|truncate:60:"...":true}	{/if}
							</nobr>
			 		</td>
					<td style="vertical-align: middle;" rowspan="{$netobj.cables|@count}" onclick="window.location='?m=netobjinfo&id={$netobj.id}'">
						{$_NETOBJECTTYPES[$netobj.type].parameter}: {$netobj.parameter}
					</td>
					{foreach key=cableid item=cable from=$netobj.cables}
					<td onclick="window.location='?m=netcabinfo&id={$cable.id}'">
						{$cable.name} / {$cable.producer} {$cable.model} / {$cable.fibers}J / {$cable.length}m
					</td>
					<td onclick="window.location='?m=netobjinfo&id={$cable.destobj.id}'">
						{$cable.destobj.name}
					</td>
					<td>
						<A href="?m=netnodedelobj&id={$objectid}&did={$netobj.id}" OnClick="return confirmLink(this, '{t a=$netobj.name}Are you sure, you want to remove net object  \'$a\' from node?{/t}');"><img src="img/delete.gif"  alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
					</td>
					</tr>
					<tr class="highlight"  id="ndsp{$netobj.id}">
					{foreachelse}
					<td colspan="5">{trans("There is no connected cables")}</td>
					{/foreach}
				</tr>
				{foreachelse}
				<TR>
					<TD colspan="4" style="text-align: center;">
						<p>&nbsp;</p>
						<p><span class="bold">{trans("No assigned objects.")}</span></p>
						<p>&nbsp;</p>
					</TD>
				</TR>
				{/foreach}
				
                            </TBODY>
			</TABLE>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<SCRIPT type="text/javascript">
<!--
if (getCookie('objectnodes') == '1')
	document.getElementById('objectnodes').style.display = '';
//-->
</SCRIPT>
