<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD style="width: 100%; text-align: left; white-space: nowrap;" class="hand" >
		<table style="width:100%;"> 
			<tr>
			<td style="width:50%;text-align:left;" class="bold" onClick="showOrHide('elementnodes');">
				<IMG SRC="img/node.gif" ALT="">{t a=$netelemlist|@count}Assigned net elements ($a):{/t}</td>
			<td style="width:50%;text-align:right;">
				<a href="#" onclick="popup('?m=choosenetelem&id={$objectid}',1,1,-50,-40);autoiframe_setsize('autoiframe',500,290);return false;">
					<IMG SRC="img/netdev.gif" ALT=""> {trans("Add elements to node")}</a></td>
		</table>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR id="elementnodes" style="display:none;">
		<TD style="width: 100%;">
			<TABLE class="lmsbox-inner">
                            <THEAD>
				<TR>
					<TD style="width: 97%; white-space: nowrap;">
						<img src="img/node.gif" ALT=""> <span class="bold">{trans("Name:")}</span><BR>
						<img src="img/producer.gif" ALT=""> {trans("Manufacturer:")}/{trans("Model:")}/{trans("Location:")}
					</TD>
					<TD style="width: 1%; text-align: right; white-space: nowrap;">
						{trans("ID:")}
					</TD>
					<TD style="width: 1%; white-space: nowrap;">
						<img src="img/serialnumber.gif"> {trans("Serial number:")}
					</TD>
					<TD style="width: 1%;">&nbsp;</TD>
				</TR>
                            </THEAD>
                            <TBODY>
				{cycle values="light,lucid" print=false}
				{section name=netelemlist loop=$netelemlist start=$start}
				<tr class="highlight {cycle}"  id="ndsp{$netelemlist[netelemlist].id}" onclick="window.location='?m=netelement&action=info&id={$netelemlist[netelemlist].id}'" >
					<td width="95%" style="vertical-align: top;" class="nobr">
						<img src="img/netdev.gif" alt=""><b>{$netelemlist[netelemlist].name}</b><br/>
							<img src="img/producer.gif" alt="">{$netelemlist[netelemlist].producer} / {$netelemlist[netelemlist].model} /	{if $netelemlist[netelemlist].location} {$netelemlist[netelemlist].location|truncate:60:"...":true}	{/if}
			 		</td>
					<td>
					 	{$netelemlist[netelemlist].id|string_format:"%04d"}
					</td>
					<td>
						{$netelemlist[netelemlist].serialnumber}
					</td>
					<td class="nobr">
						<A href="?m=netnodedelelem&id={$objectid}&did={$netelemlist[netelemlist].id}" OnClick="return confirmLink(this, '{t a=$netelemlist[netelemlist].name}Are you sure, you want to remove net element  \'$a\' from node?{/t}');"><img src="img/delete.gif"  alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
						<a href="?m=netelement&action=info&id={$netelemlist[netelemlist].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></A>
					</td>
				</tr>
				{sectionelse}
				<TR>
					<TD colspan="4" style="text-align: center;">
						<b>{trans("No assigned elements.")}</b>
					</TD>
				</TR>
				{/section}
				
                            </TBODY>
			</TABLE>
		</TD>
	</TR>
    </TBODY>
</TABLE>
<SCRIPT type="text/javascript">
<!--
function change_nodelinktype(linktype) {
	linktype = parseInt(linktype);
	var options = document.getElementById('elemnodeslinktechnology').options;
	while (options.length)
		options.remove(0);
	options.add(new Option('{trans("- unknown -")}', 0));
	switch (linktype) {
		case 0:
			{foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}
			options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
			{/foreach}
			break;
		case 1:
			{foreach $_LINKTECHNOLOGIES[1] as $linktechnologyidx => $linktechnology}
			options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
			{/foreach}
			break;
		case 2:
			{foreach $_LINKTECHNOLOGIES[2] as $linktechnologyidx => $linktechnology}
			options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
			{/foreach}
			break;
	}
}

if (getCookie('elementnodes') == '1')
	document.getElementById('elementnodes').style.display = '';
//-->
</SCRIPT>
