{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
{$xajax}
<H1>{$layout.pagetitle}</H1>
{block name=neteleminfobox}
	{include file="netelements/infobox.html"}
{/block}
{block name=activeports} 
	{include file="netelements/activeports.html"} 
{/block}
{block name=netelemipbox}
	{include file="netelements/ipbox.html"}
{/block}
{block name=netelemmanagementurl}
	{include file="managementurl/managementurls.html"}
{/block}
{block name=netelemconnbox}
	{include file="netelements/connbox.html"}
{/block}
{block name=netelemnodes}
	{include file="netelements/nodes.html"}
{/block}
{block name=netelemradiosectors}
	{include file="netelements/radiosectors.html"}
{/block}
{/block}
