{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
{$xajax}
<!--// $Id$ //-->
{include file="calendar_js.html"}
<script type="text/javascript" src="img/netnodehelper.js"></script>
<H1>{$layout.pagetitle}</H1>
<FORM NAME="netelemadd" METHOD="POST" ACTION="?m=netelement&action=add">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/netdev.gif" ALT="">
		</TD>
		<TD WIDTH="99%" colspan="2">
			<B>{trans("Name:")}</B>
			<INPUT TYPE="TEXT" NAME="netelem[name]" VALUE="{$netelem.name}" MAXLENGTH="32" {tip trigger="name" text="Enter device name" bold=1}>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
        <TR>
                <TD WIDTH="1%">
                        &nbsp;
                </TD>
                <TD WIDTH="99%" colspan="2" class="fright fleft">
                        <B>{trans("Type:")}</B>
                        <SELECT NAME="netelem[type]" id="type" {tip text="Select element type."} onchange="xajax_changeNetElementType(this.value)">
                          <OPTION VALUE="-1">{trans("Select type:")}</OPTION>
                        {foreach $_NETELEMENTTYPES as $idx => $type}
                          <OPTION VALUE="{$idx}" {if $idx==$netelem.type} SELECTED{/if}>{$type}</OPTION>
                        {/foreach}
                        </SELECT>
                </TD>
        </TR>
    </TBODY>
    <TBODY ID="elem_main" style="display:none">
	<TR>
        <TD WIDTH="100%" COLSPAN="3" CLASS="container">
		    <TABLE WIDTH="100%" CELLPADDING="0">
				<TR>
					<TD WIDTH="50%" style="vertical-align:top;">
					        <TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Status:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netelem[status]" {tip text="Select device status"} VALUE="{$netelem.status}">
				{foreach $_NETELEMENTSTATUSES as $idx => $status}
				<OPTION VALUE="{$idx}"{if $netelem.status == $idx} selected{/if}>{$status}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Manufacturer:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT id="producer" NAME="netelem[producer]" VALUE="{$netelem.producer}" {tip text="Enter producer name (optional)"} onchange="xajax_getModelsByProducerAndType(document.getElementById('type').value, this.value)">
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/netdev_model.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Model:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT id="model" NAME="netelem[model]" VALUE="{$netelem.model}" {tip text="Enter device model (optional)"} onchange="xajax_getModelPortList(this.value)" >
			</SELECT>
                        <A href="javascript:void(0);" onclick="return netelemmodelchoosewin('netelem', 'netelemadd', document.forms['netelemadd'].elements['netelem[netelemicemodelid]'].value, document.forms['netelemadd'].elements['netelem[producer]'].value, document.forms['netelemadd'].elements['netelem[model]'].value)" {tip text="Click to select model"}>&raquo;&raquo;&raquo;</A>
			<BR>
                        <INPUT type="hidden" name="netelem[netelemicemodelid]" value="{$netelem.netelemicemodelid}">
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Serial number:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netelem[serialnumber]" VALUE="{$netelem.serialnumber}" {tip text="Enter device serial number (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/calendar.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Purchase date:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netelem[purchasedate]" VALUE="{if $netelem.purchasedate}{$netelem.purchasedate}{/if}" SIZE="10" maxlength="10" {tip class="calendar" trigger="purchasedate" text="Enter device purchase date in 'yyyy/mm/dd' format or click to choose date from calendar (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/guarantee.png" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Guarantee period:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT SIZE="1" NAME="netelem[guaranteeperiod]" {tip text="Select device guarantee period (optional)"}>
				{foreach from=$_GUARANTEEPERIODS key=key item=period}
				<OPTION VALUE="{$key}"{if $netelem.guaranteeperiod == $key} SELECTED{/if}>{$period}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
    </TBODY>
                                        </TABLE>
				</TD>
				<TD WIDTH="50%" style="vertical-align:top;">
					<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/desc.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Description:")}</B>
		</TD>
		<TD WIDTH="98%">
			<TEXTAREA NAME="netelem[description]" COLS="40" ROWS="5" {tip text="Enter additional information (optional)"}>{$netelem.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<img src="img/money.gif" alt="">
		</TD>
		<TD WIDTH="1%" class="bold nobr">
			{trans("Investment project:")}
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netelem[invprojectid]" ID="NNproject" VALUE="{$neteleminfo.invprojectid}" {tip text="Select project for this node"} onchange="setNNProject();">
				<OPTION value="-2" {if ($neteleminfo.invprojectid == '-2' ) } selected="selected" {/if} >- {trans("none")} -</OPTION>
				<OPTION value="-1" {if ($neteleminfo.invprojectid == '-1' ) } selected="selected" {/if}>{trans("New project")}</OPTION>
				<OPTION value="1" {if ($neteleminfo.invprojectid == '1' ) } selected="selected" {/if}>{trans("From root device")}</OPTION>
				{section name=project loop=$NNprojects}
				<OPTION VALUE="{$NNprojects[project].id}" {if ($neteleminfo.invprojectid == $NNprojects[project].id ) } selected="selected" {/if} >{$NNprojects[project].name}</OPTION>
				{/section}
			</SELECT>
			<INPUT TYPE="TEXT" NAME="netelem[projectname]" VALUE="{$neteleminfo.projectname}" {tip text="Enter new project name" trigger="projectname" } ID="NNprojectname">
		</TD>
	</TR>
	                                        </TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
<!-- start of elem_type_active -->
    <TBODY ID="elem_type_active" STYLE="display:none">
        <TR>
                <TD width="1%">
                        <img src="img/netdev.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Net node:")}i
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netactive[netnodeid]" VALUE="{$netactive.netnodeid}" {tip text="Select node"} >
                                <OPTION VALUE="-1">{trans("None")}</OPTION>
                                {section name=nd loop=$NNnodes}
                                <OPTION VALUE="{$NNnodes[nd].id}" {if ($netactive.netnodeid == $NNnodes[nd].id ) } selected="selected" {/if} >{$NNnodes[nd].name}</OPTION>
                                {/section}
                        </SELECT>
                </TD>
        </TR>
{if ConfigHelper::checkConfig('phpui.radius')}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Shortname:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netactive[shortname]" VALUE="{$netactive.shortname}" MAXLENGTH="32" {tip trigger="shortname" text="Enter shortname (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Type:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netactive[nastype]" {tip text="Select type (optional)" trigger="nastype"}>
				<OPTION VALUE="0"></OPTION>
				{foreach from=$nastype item=item key=key}
				<OPTION VALUE="{$key}" {if $key==$netactive.nastype} SELECTED{/if}>{$item.name}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Max clients:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netactive[clients]" VALUE="{if $netactive.clients}{$netactive.clients}{/if}" {tip trigger="clients" text="Enter max clients (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Secret:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netactive[secret]" VALUE="{$netactive.secret}" MAXLENGTH="60" {tip text="Enter secret (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Community:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netactive[community]" VALUE="{$netactive.community}" MAXLENGTH="50" {tip text="Enter community (optional)"}>
		</TD>
	</TR>
{/if}
{if isset($channels)}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/channel.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Channel:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netactive[channelid]" {tip text="Select channel (optional)" trigger="channelid"}>
				<OPTION VALUE="">- {trans("none")} -</OPTION>
				{foreach from=$channels item=item}
				<OPTION VALUE="{$item.id}" {if $item.id == $netactive.channelid} SELECTED{/if}>{$item.name}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
{/if}
<!-- end of elem_type_active -->
<!-- start of elem_type_passive -->
        <TBODY ID="elem_type_passive" STYLE="display:none">
        <TR>
                <TD width="1%">
                        <img src="img/netdev.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Net node:")}i
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netactive[netnodeid]" VALUE="{$netactive.netnodeid}" {tip text="Select node"} >
                                <OPTION VALUE="-1">{trans("None")}</OPTION>
                                {section name=nd loop=$NNnodes}
                                <OPTION VALUE="{$NNnodes[nd].id}" {if ($netactive.netnodeid == $NNnodes[nd].id ) } selected="selected" {/if} >{$NNnodes[nd].name}</OPTION>
                                {/section}
                        </SELECT>
                </TD>
        </TR>
        </TBODY>
<!-- end of elem_type_passive -->
<!-- start of elem_type_cable -->
    	<TBODY ID="elem_type_cable" STYLE="display:none">
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Label:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netcable[label]" VALUE="{if $netcable.label}{$netcable.label}{/if}" {tip trigger="label" text="Enter label for cable"}>
                </TD>
        </TR>
        <TR>
                <TD width="1%">
                        <img src="img/netdev.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Start net node:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netcable[srcnodeid]" VALUE="{$netcable.srcnodeid}" {tip text="Select node"} >
                                {section name=nd loop=$NNnodes}
                                <OPTION VALUE="{$NNnodes[nd].id}" {if $netcable.srcnodeid==$NNnodes[nd].id} selected{/if}>{$NNnodes[nd].name}</OPTION>
                                {/section}
                        </SELECT>
                </TD>
        </TR>
        <TR>
                <TD width="1%">
                        <img src="img/netdev.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("End net node:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netcable[dstnodeid]" VALUE="{$netcable.dstnodeid}" {tip trigger="dstnodeid" text="Select node"} >
                                {section name=nd loop=$NNnodes}
                                <OPTION VALUE="{$NNnodes[nd].id}" {if $netcable.dstnodeid==$NNnodes[nd].id} selected{/if}>{$NNnodes[nd].name}</OPTION>
                                {/section}
                        </SELECT><img src="img/add.gif">{trans('Add netnode')}
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Distance:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netcable[distance]" VALUE="{if $netcable.distance}{$netcable.distance}{/if}" {tip trigger="distance" text="Enter distance between nodes (in meters)"}> {trans('meters')}
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Number of wires:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netcable[capacity]" VALUE="{if $netcable.capacity}{$netcable.capacity}{/if}" {tip trigger="capacity" text="Enter number of wires/fibers"}>
                </TD>
        </TR>
        <TR>
                <TD width="1%">
                        <img src="img/netdev_model.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Cable type:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netcable[type]" VALUE="{$netcable.type}" {tip text="Select node"} onchange="xajax_changeWireType(this.value,0,0)">
                                {foreach from=$_NETCABLETYPES key=t item=v}
                                <OPTION VALUE="{$t}" {if $netcable.type==$t} selected{/if}>{$v}</OPTION>
                                {/foreach}
                        </SELECT>
                </TD>
        </TR>
        <TR>
                <TD width="1%">
                        <img src="img/netdev_model.gif" alt="">                                                                                                   </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Wire/fiber type:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT ID="wiretype" NAME="netcable[wiretype]" VALUE="{$netcable.wiretype}" {tip text="Select type for wires/fibers"} >
                        </SELECT>
                </TD>
        </TR>
        <TR>
                <TD width="1%">
                        <img src="img/netdev_model.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Color schema:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT ID="colorschema" NAME="netcable[colorschemaid]" VALUE="{$netcable.colorschemaid}" {tip text="Select schema for colouring wires/fibers"} >
                        </SELECT>
                </TD>
        </TR>
        {if $error}
        <SCRIPT type="text/javascript">
        xajax_changeWireType({$netcable.type},{$netcable.colorschemaid},{$netcable.wiretype});
        </SCRIPT>
        {/if}
	</TBODY>
<!-- end of elem_type_cable -->
<!-- start of elem_type_splitter -->
        <TBODY ID="elem_type_splitter" STYLE="display:none">
        <TR>
                <TD width="1%">
                        <img src="img/netdev.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Net node:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netsplitter[netnodeid]" VALUE="{$netsplitter.netnodeid}" {tip text="Select node"} >
                                {section name=nd loop=$NNnodes}
                                <OPTION VALUE="{$NNnodes[nd].id}" {if ($netsplitter.netnodeid == $NNnodes[nd].id ) } selected="selected" {/if} >{$NNnodes[nd].name}</OPTION>
                                {/section}
                        </SELECT>
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Ports in:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netsplitter[in]" VALUE="{if $netsplitter.in}{$netsplitter.in}{/if}" {tip trigger="in" text="Enter number in ports of 'in' splitter"}>
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Ports out:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netsplitter[out]" VALUE="{if $netsplitter.out}{$netsplitter.out}{/if}" {tip trigger="in" text="Enter number of 'out' ports in splitter"}>
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Connector:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netsplitter[connector]" VALUE="{$netsplitter.connector}" {tip text="Select connector type (optionaly)"} >
			<OPTION VALUE="-1">{trans("None")}</OPTION>
			{foreach from=$_NETCONNECTORS key=id item=conn}
			{if ($id>=200 and $id<300)}
			<OPTION VALUE="{$id}">{$conn}</OPTION>
			{/if}
			{/foreach} 
			</SELECT>
                </TD>                                                                                                                                     </TR>
	</TR>
        </TBODY>
<!-- end of elem_type_splitter -->
<!-- start of elem_type_multiplexer -->
        <TBODY ID="elem_type_multiplexer" STYLE="display:none">
        <TR>
                <TD width="1%">
                        <img src="img/netdev.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Net node:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netmultiplexer[netnodeid]" VALUE="{$netmultiplexer.netnodeid}" {tip text="Select node"} >
                                {section name=nd loop=$NNnodes}
                                <OPTION VALUE="{$NNnodes[nd].id}" {if ($netmultiplexer.netnodeid == $NNnodes[nd].id ) } selected="selected" {/if} >{$NNnodes[nd].name}</OPTION>
                                {/section}
                        </SELECT>
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Ports in:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netmultiplexer[in]" VALUE="{if $netmultiplexer.in}{$netmultiplexer.in}{/if}" {tip trigger="in" text="Enter number in ports of 'in' splitter"}>
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Ports out:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netmultiplexer[out]" VALUE="{if $netmultiplexer.out}{$netmultiplexer.out}{/if}" {tip trigger="in" text="Enter number of 'out' ports in splitter"}>
                </TD>
        </TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev_model.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Connector:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netmultiplexer[connector]" VALUE="{$netmultiplexer.connector}" {tip text="Select connector type (optionaly)"} >
			<OPTION VALUE="-1">{trans("None")}</OPTION>
			{foreach from=$_NETCONNECTORS key=id item=conn}
			{if ($id>=200 and $id<300)}
			<OPTION VALUE="{$id}">{$conn}</OPTION>
			{/if}
			{/foreach} 
			</SELECT>
                </TD>                                                                                                                                     </TR>
	</TR>
        </TBODY>
<!-- end of elem_type_multiplexer -->
<!-- start of elem_type_computer -->
        <TBODY ID="elem_type_computer" STYLE="display:none">
        <TR>
                <TD width="1%">
                        <img src="img/netdev.gif" alt="">
                </TD>
                <TD WIDTH="1%" class="bold nobr">
                        {trans("Net node:")}
                </TD>
                <TD WIDTH="98%">
                        <SELECT NAME="netcomputer[netnodeid]" VALUE="{$netcomputer.netnodeid}" {tip text="Select node"} >
                                <OPTION VALUE="-1">{trans("None")}</OPTION>
                                {section name=nd loop=$NNnodes}
                                <OPTION VALUE="{$NNnodes[nd].id}" {if ($netcomputer.netnodeid == $NNnodes[nd].id ) } selected="selected" {/if} >{$NNnodes[nd].name}</OPTION>
                                {/section}
                        </SELECT>
                </TD>
        </TR>
        </TBODY>
<!-- end of elem_type_computer -->
<!-- start ports -->
        <TBODY ID="elem_ports" STYLE="display:none">
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/netdev.gif" ALT="">
                </TD>
		<TD WIDTH="99%" NOWRAP colspan="2">
			{trans('Ports:')}
			<IMG SRC="img/add.gif" onclick="addports();">
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH="100%">
			<TABLE><TBODY id="porttable"></TBODY></TABLE>
		</TD>
        </TR>

	</TBODY>

<!-- end ports -->
	<TR>
		<TD WIDTH="100%" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.netelemadd.submit();" ACCESSKEY="s">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=netelemlist">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<script>
function addports(){
  var port_types='<option value=0>{trans("Select")}</option>';
  {foreach from=$NETPORTTYPES key=k item=val}
			      port_types+='<option value="{$k}">{$val}</option>';
  {/foreach}

  var connectors='<option value=0>{trans("Select")}</option>';
  {foreach from=$NETCONNECTORS key=k item=val}
			      connectors+='<option value="{$k}">{$val}</option>';
  {/foreach}
  var node=document.getElementById('porttable');
  var row=document.createElement('tr');
  var d=new Date();
  var t='a'+d.getTime();
  var index=t.substr(-7,5);
  row.innerHTML='<td class="nobr" colspan="3">{trans("Label:")}'+
	'<input type=text name="modeledit['+index+'][label]" value="xxx"> typ:<select name="modeledit['+index+'][netporttype]" onchange="xajax_getConnectorOptionsByPortType(this.value, \'conn'+index+'\')">'+
			    port_types+'</select>'+
	' {trans("connector")}:<select name="modeledit['+index+'][netconnector]" id="conn'+index+'">'+
	connectors+'</select>'+
	'<IMG src="img/add.gif" alt="" title="{trans("Clone")}" onclick="clone(this);">&nbsp;'+
	'<IMG src="img/delete.gif" alt="" title="{trans("Delete")}" onclick="remports(this);">'+
	'</td>';
  node.appendChild(row);
  //renumerate('porttable');
}

function xaddport(id, label, connector, port_type, cn, pn){
  var port_types='<option value=0>{trans("Select")}</option>';
  {foreach from=$NETPORTTYPES key=k item=val}
			      port_types+='<option value="{$k}">{$val}</option>';
  {/foreach}

  var connectors='<option value=0>{trans("Select")}</option>';
  {foreach from=$NETCONNECTORS key=k item=val}
			      connectors+='<option value="{$k}">{$val}</option>';
  {/foreach}
  var node=document.getElementById('porttable');
  var row=document.createElement('tr');
  var index=document.getElementById('porttable').rows.length+1;
  row.innerHTML='<td class="nobr" colspan="3">{trans("Label:")}'+
	'<input type=text name="modeledit['+id+'][label]" value="'+label+'"> typ:<select name="modeledit['+id+'][netporttype]" onchange="xajax_getConnectorOptionsByPortType(this.value, \'conn'+id+'\')">'+
			    '<option value='+port_type+'>'+pn+'</option>'+
			    port_types+'</select>'+
	' {trans("connector")}:<select name="modeledit['+id+'][netconnector]" id="conn'+id+'">'+
	'<option value='+connector+'>'+cn+'</option>'+
	connectors+'</select>'+
	'<IMG src="img/add.gif" alt="" title="{trans("Clone")}" onclick="clone(this);">&nbsp;'+
	'<IMG src="img/delete.gif" alt="" title="{trans("Delete")}" onclick="remports(this);">'+
	'</td>';
  node.appendChild(row);
//  renumerate('porttable');
}

function clone(src){
  var ports=document.getElementById('porttable');
  var nrow=document.createElement('tr');
  var d=new Date();
  var t='a'+d.getTime();
  var index=t.substr(-7,5);
  nrow.innerHTML=src.parentNode.parentNode.innerHTML.replace(/[0-9]+\]/g,index+']');
  nrow.innerHTML=nrow.innerHTML.replace(/conn[0-9]+/g,'conn'+index+'');
  ports.insertBefore(nrow,src.parentNode.parentNode.nextSibling);
//  renumerate('porttable');

}
function remports(row){
  row.parentNode.parentNode.parentNode.removeChild(row.parentNode.parentNode);
  
}  

</script>
<SCRIPT type="text/javascript">
<!--
document.forms['netelemadd'].elements['netelem[name]'].focus();
setNNProject();
xajax_changeNetElementType({$netelem.type});
//-->
</SCRIPT>
{/block}
