{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
{$xajax}
<!--// $Id$ //-->
{include file="calendar_js.html"}
<script type="text/javascript" src="img/netnodehelper.js"></script>
<script type="text/javascript" src="img/netelemhelper.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<H1>{$layout.pagetitle}</H1>
<FORM NAME="netelement" METHOD="POST" ACTION="?m=netelement&action=add">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/netdev.gif" ALT="">
			<B>{trans("Name:")}</B>
			<INPUT TYPE="TEXT" NAME="netelem[name]" VALUE="{$netelem.name}" MAXLENGTH="32" {tip trigger="name" text="Enter element name" bold=1}>
		</TD><td colspan=5 class="fright">&nbsp;//wymyslic sposob na parsowanie smarty wewnatrz php</td>
	</TR>
    </THEAD>
    <TBODY>
    <TR>
        <TD WIDTH="100%" COLSPAN="6" CLASS="container fright">
	    <TABLE WIDTH="100%" CELLPADDING="0">
	      <tr>
		<TD WIDTH="1%">
		  <IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Status:")}</B>
		</TD>
		<TD WIDTH="48%">
			<SELECT NAME="netelem[status]" {tip text="Select element status"} VALUE="{$netelem.status}">
			{foreach $_NETELEMENTSTATUSES as $idx => $status}
				<OPTION VALUE="{$idx}"{if $netelem.status == $idx} selected{/if}>{$status}</OPTION>
			{/foreach}
			</SELECT>
		</TD>
		<TD WIDTH="1%">
			<IMG SRC="img/calendar.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Purchase date:")}</B>
		</TD>
		<TD WIDTH="48%">
			<INPUT TYPE="TEXT" NAME="netelem[purchasedate]" VALUE="{if $netdev.purchasedate}{$netdev.purchasedate}{/if}" SIZE="10" maxlength="10" {tip class="calendar" trigger="purchasedate" text="Enter device purchase date in 'yyyy/mm/dd' format or click to choose date from calendar (optional)"}>
		</TD>
	      </tr>
	      <tr>
		<TD width="1%">
			<img src="img/money.gif" alt="">
		</TD>
		<TD WIDTH="1%" class="bold nobr">
			{trans("Investment project:")}
		</TD>
		<TD WIDTH="1%">
			<SELECT NAME="netelem[invprojectid]" ID="NNproject" VALUE="{$netdevinfo.invprojectid}" {tip text="Select project for this node"} onchange="setNNProject();">
				<OPTION value="-2" {if ($netdevinfo.invprojectid == '-2' ) } selected="selected" {/if} >- {trans("none")} -</OPTION>
				<OPTION value="-1" {if ($netdevinfo.invprojectid == '-1' ) } selected="selected" {/if}>{trans("New project")}</OPTION>
				<OPTION value="1" {if ($netdevinfo.invprojectid == '1' ) } selected="selected" {/if}>{trans("From root device")}</OPTION>
				{section name=project loop=$NNprojects}
				<OPTION VALUE="{$NNprojects[project].id}" {if ($netdevinfo.invprojectid == $NNprojects[project].id ) } selected="selected" {/if} >{$NNprojects[project].name}</OPTION>
				{/section}
			</SELECT>
			<INPUT TYPE="TEXT" NAME="netelem[projectname]" VALUE="{$netdevinfo.projectname}" {tip text="Enter new project name" trigger="projectname" } ID="NNprojectname">
		</TD>
		<TD WIDTH="1%">
			<IMG SRC="img/guarantee.png" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Guarantee period:")}</B>
		</TD>
		<TD WIDTH="1%">
			<SELECT SIZE="1" NAME="netelem[guaranteeperiod]" {tip text="Select device guarantee period (optional)"}>
			{foreach from=$_GUARANTEEPERIODS key=key item=period}
				<OPTION VALUE="{$key}"{if $netdev.guaranteeperiod == $key} SELECTED{/if}>{$period}</OPTION>
			{/foreach}
			</SELECT>
		</TD>
	      </tr>
	      <tr>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Type:")}</B>
		</TD>
		<TD WIDTH="8%">
			<SELECT NAME="netelem[type]" id="type" {tip text="Select element type."} VALUE="{$netelem.type}" onchange="xajax_getProducerByType(this.value)">
			  <OPTION VALUE="-1">{trans("Select type:")}</OPTION>
			{foreach $_NETELEMENTTYPES as $idx => $type}
			  <OPTION VALUE="{$idx}">{$type}</OPTION>
			{/foreach}
			</SELECT>
		</TD>
		<TD WIDTH="1%" rowspan="3">
			<IMG SRC="img/desc.gif" ALT="">
		</TD>
		<TD WIDTH="1%" rowspan="3" NOWRAP>
			<B>{trans("Description:")}</B>
		</TD>
		<TD WIDTH="8%" rowspan="3">
			<TEXTAREA NAME="netelem[description]" COLS="40" ROWS="5" {tip text="Enter additional information (optional)"}>{$netdev.description}</TEXTAREA>
		</TD>
	      </tr>
	      <tr>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Producer:")}</B>
		</TD>
		<td>
			<select name="netelem[producer]" id="producer" {tip text="Select Producer"} onchange="xajax_getModelsByProducerAndType(document.getElementById('type').value, this.value)">
				<OPTION VALUE="-1">{trans("Select option:")}</OPTION>
			</select>
		</td>
	      </tr>
	      <tr>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Model:")}</B>
		</TD>
		<td>
			<select name="netelem[model]" id="model" {tip text="Select Model"} onchange="void(0);">
				<OPTION VALUE="-1">{trans("Select option:")}</OPTION>
			</select>
		</td>

	      </tr>

	      <tr>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Serial number:")}</B>
		</TD>
		<TD WIDTH="8%">
			<INPUT TYPE="TEXT" NAME="netelem[serialnumber]" VALUE="{$netdev.serialnumber}" {tip text="Enter device serial number (optional)"}>
		</TD>
		<TD width="1%">
			<img src="img/netdev.gif" alt="">
		</TD>
		<TD WIDTH="1%" class="bold nobr">
			{trans("Net node:")}
		</TD>
		<TD WIDTH="8%">
			<SELECT NAME="netelem[netnodeid]" VALUE="{$netdevinfo.netnodeid}" {tip text="Select node"} >
				<OPTION VALUE="-1">{trans("None")}</OPTION>
				{section name=nd loop=$NNnodes}
				<OPTION VALUE="{$NNnodes[nd].id}" {if ($netdevinfo.netnodeid == $NNnodes[nd].id ) } selected="selected" {/if} >{$NNnodes[nd].name}</OPTION>
				{/section}
			</SELECT>
		</TD>

	      </tr>
	      <tbody id="elem_type">
	      <!-- tu includowane via xajax pliki add*.inc.html -->
	      </tbody>

	      </table>
	</td>
    </tr>
 
 
 
 <!-- stare kontrolki -->
 <TR>
        <TD WIDTH="100%" COLSPAN="6" CLASS="container">
		    <TABLE WIDTH="100%" CELLPADDING="0">
				<TR>
					<TD WIDTH="50%" style="vertical-align:top;">
					    <TABLE WIDTH="100%" CELLPADDING="3"><!-- pierwsza kolumna -->
							<TR>
							</TR>
							<TR>
							</TR>
							<tr>
							</tr>
							<tr>
							</tr>
							<TR>
							</TR>
							<TR>
							</TR>
							<TR>
							</TR>
							<TR>
							</TR>
							<TR>
							</TR>
						</table><!-- EOF pierwsza kolumna -->
					</td>
					<td>
						<table WIDTH="100%" CELLPADDING="3"><!-- druga kolumna -->
							<TR>
							</TR>
							<TR>
							</TR>
							<TR>
							</TR>
							<TR>
							</TR>
							<TR>
							</TR>

						</table><!-- EOF druga kolumna -->
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan=3>
			{trans('Ports')}<img src="img/add.gif">
		</td>
	</tr>
	<tbody id="portlist">
	</tbody>
	<TR>
		<TD WIDTH="100%" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.netelemadd.submit();" ACCESSKEY="s">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=netelemlist">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['netelemadd'].elements['netelem[name]'].focus();
check_teryt('location', true);
setNNProject();
function set_lat_lon(){
    var loc = document.getElementById('location').value;

    var geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address': loc}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            document.getElementById('latitude').value = results[0].geometry.location.lat();
            document.getElementById('longitude').value = results[0].geometry.location.lng();
        }
    });
}
//-->
</SCRIPT>
{/block}
