<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD style="width: 100%;" class="nobr">
			<IMG SRC="img/mac.gif" alt="">
			<span class="bold">{t a=$netwires|@count}Wires/Fibers ($a):{/t}</span>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
        <TR id="netwires">
                <TD style="width: 100%;">
                        <TABLE class="lmsbox-inner">
        <THEAD>
        <TR>
		<TD style="width: 1%;" class="nobr">&nbsp;</TD>
                <TD style="width: 35%;" COLSPAN="5" class="nobr">
			{trans("Connections for side:")} {$srcnode.name}
                </TD>
                <TD style="width: 10%;" class="nobr">
                </TD>
                <TD style="width: 10%;" class="nobr">
                </TD>
                <TD style="width: 10%;" class="nobr">
                </TD>
                <TD style="width: 35%;" class="nobr text-right">
			{trans("Connections for side:")} {$dstnode.name}
                </TD>
		<TD style="width: 1%;" class="nobr">&nbsp;</TD>
        </TR>
        </THEAD>
        <TBODY>
	{if $netwires}
	{cycle values="light,lucid" print=false}
	{if $neteleminfo.cabletype<50}
	{$i=1}
	{foreach from=$netwires key=n item=wire}
	<TR class="{cycle} highlight">
		<TD>x<BR>y</TD>
		{if $n is even}<TD COLSPAN="3" ROWSPAN="2"><IMG SRC="img/pair{counter}.gif" HEIGHT="12" WIDTH="100%"></TD>{/if}
		<TD CLASS="text-right">y<BR>x</TD>
	</TR>
	{/foreach}
	{elseif $neteleminfo.cabletype<100}
	<TR class="{cycle}">
		<TD COLPSPAN="6">coaxial</TD>
	</TR>
     	{else}
	{$fiber=$_FIBEROPTICCOLORSCHEMAS[$neteleminfo.colorschemaid].fibers}
	{$tube=$_FIBEROPTICCOLORSCHEMAS[$neteleminfo.colorschemaid].tubes}
	{foreach from=$netwires item=netwire}
	<TR class="{cycle} highlight">
		<TD CLASS="valign-middle text-left">
		{if $netwire.conn.id}
		<A HREF="?m=netelement&action=disconnect&id={$netwire.conn.connid}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete that connection?")}');"><IMG SRC="img/delete.gif" {tip text="Delete connection"}></A>
		{else}
		<SPAN id="devlinkproperties_{$srcnode.id}_{$neteleminfo.id}_{$netwire.bundle}_{$netwire.wire}" onClick="javascript:netfiberconnect('{$srcnode.id}', '{$neteleminfo.id}', '{$netwire.bundle}', '{$netwire.wire}');">
		 <IMG SRC="img/netdev_takenports.gif">
		</SPAN>
		</TD>
		<TD CLASS="valign-middle text-center" COLSPAN="5">x </TD>
		{/if}
		{if $netwire.conn.wire.id}
		<TD CLASS="valign-middle text-left">
		<TD CLASS="valign-middle text-left">
			<a
				href="?m=netelement&action=info&id={$netwire.conn.id}"><IMG
				SRC="img/cable.png" {tip text="{$netwire.conn.name} {$netwire.conn.cable.dstnode}"}></A></TD>
		<TD CLASS="valign-middle text-center" style="opacity: 0.6; background-color:{$_FIBEROPTICCOLORSCHEMAS[$netwire.conn.cable.colorschemaid].tubes[$netwire.conn.wire.bundle]}; ">{trans("tube #")}{$netwire.conn.wire.bundle} {trans("wire #")}{$netwire.conn.wire.wire}</TD>
		<TD CLASS="valign-middle text-left"><img src="img/fiber{$netwire.conn.wire.wire}.gif" width="50" height="12"></TD>
		<TD CLASS="valign-middle text-left"><a href="?m=netelement&action=info&id={$netwire.conn.tray.id}"><img src="img/splice.png" {tip text="{$netwire.conn.tray.port.label} {trans("in")} {$netwire.conn.tray.name}"}</A></TD>
		{elseif $netwire.conn.port.id}
		<TD CLASS="valign-middle text-left">
		port
		</TD>
		{/if}
		<TD CLASS="valign-middle text-right" STYLE="padding-right:0px;"><img src="img/fiber{$netwire.wire}.gif" width="50" height="12"></TD>
		<TD CLASS="valign-middle text-center" style="opacity: 0.6;padding-right:0px; padding-left:0px; background-color:{$tube[$netwire.bundle]}; ">{trans("tube #")}{$netwire.bundle} {trans("wire #")}{$netwire.wire}</TD>
		<TD CLASS="valign-middle text-left" STYLE="padding-left:0px;"><img src="img/fiber{$netwire.wire}.gif" width="50" height="12"></TD>
		<TD CLASS="valign-middle text-right">
		<SPAN id="devlinkproperties_{$dstnode.id}_{$neteleminfo.id}_{$netwire.bundle}_{$netwire.wire}" onClick="javascript:netfiberconnect('{$dstnode.id}', '{$neteleminfo.id}', '{$netwire.bundle}', '{$netwire.wire}');">
		 <IMG SRC="img/netdev_takenports.gif">
		</SPAN>
		</TD>
	</TR>	
	{/foreach}
	{/if}
	{else}
	<TR>
		<TD colspan="6" class="empty-table">
			<P>{trans("No such wires.")}</P>
		</TD>
	</TR>
	{/if}
	</TBODY>
</TABLE>
               </TD>
       </TR>
    </TBODY>
</TABLE>

