<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD style="width: 100%;" class="nobr">
			<IMG SRC="img/mac.gif" alt="">
			<span class="bold">{t a=$netwires|@count}Wires/Fibers ($a):{/t}</span>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
        <TR id="netwires">
                <TD style="width: 100%;">
                        <TABLE class="lmsbox-inner">
        <THEAD>
        <TR>
		<TD style="width: 1%;" class="nobr">&nbsp;</TD>
                <TD style="width: 35%;" class="nobr text-right">
			{trans("Connections for side:")} <B>{$srcnode.name}</B>
                </TD>
                <TD style="width: 1%;" class="nobr">
                </TD>
                <TD style="width: 10%;" class="nobr">
                </TD>
                <TD style="width: 1%;" class="nobr">
                </TD>
                <TD style="width: 35%;" class="nobr text-left">
			{trans("Connections for side:")} <B>{$dstnode.name}</B>
                </TD>
		<TD style="width: 1%;" class="nobr">&nbsp;</TD>
        </TR>
        </THEAD>
        <TBODY>
	{if $netwires}
	{cycle values="light,lucid" print=false}
	{if $neteleminfo.cabletype<50}
	{$i=1}
	{foreach from=$netwires key=n item=wire}
	<TR class="{cycle} highlight">
		<TD>x<BR>y</TD>
		{if $n is even}<TD COLSPAN="3" ROWSPAN="2"><IMG SRC="img/pair{counter}.gif" HEIGHT="12" WIDTH="100%"></TD>{/if}
		<TD CLASS="text-right">y<BR>x</TD>
	</TR>
	{/foreach}
	{elseif $neteleminfo.cabletype<100}
	<TR class="{cycle}">
		<TD COLPSPAN="6">coaxial</TD>
	</TR>
     	{else}
	{$fiber=$_FIBEROPTICCOLORSCHEMAS[$neteleminfo.colorschemaid].fibers}
	{$tube=$_FIBEROPTICCOLORSCHEMAS[$neteleminfo.colorschemaid].tubes}
	{foreach from=$netwires item=netwire}
	<TR class="{cycle} highlight">
<!-- ************************************************************************* -->
		{if $netwire.conn.src.id}
		<TD CLASS="text-left">
		<A HREF="?m=netelement&action=disconnect&id={$netwire.conn.src.connid}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete that connection?")}');"><IMG SRC="img/delete.gif" {tip text="Delete connection"}></A>
		</TD>
		{else}
		<TD CLASS="text-left">
		<SPAN id="devlinkproperties_{$srcnode.id}_{$neteleminfo.id}_{$netwire.bundle}_{$netwire.wire}" onClick="javascript:netfiberconnect('{$srcnode.id}', '{$neteleminfo.id}', '{$netwire.bundle}', '{$netwire.wire}');">
		 <IMG SRC="img/netdev_takenports.gif">
		</SPAN>
		</TD>
		<TD CLASS="valign-middle text-center">x </TD>
		{/if}
		{if $netwire.conn.src.wire.id}
		<TD CLASS="text-right"><TABLE STYLE="float:right;"><TR>
		<TD CLASS="text-left"> <a href="?m=netelement&action=info&id={$netwire.conn.src.id}"><IMG SRC="img/cable.png" height="16" {tip text="{$netwire.conn.src.name} {$netwire.conn.src.cable.dstnode}"}></A></TD>
		<TD CLASS="text-center" style="opacity: 0.6; background-color:{$_FIBEROPTICCOLORSCHEMAS[$netwire.conn.src.cable.colorschemaid].tubes[$netwire.conn.src.wire.bundle]}; ">{trans("tube #")}{$netwire.conn.src.wire.bundle} {trans("wire #")}{$netwire.conn.src.wire.wire}</TD>
		<TD CLASS="text-left"><img src="img/fiber{$netwire.conn.src.wire.wire}.gif" width="50" height="12"></TD>
		<TD CLASS="text-left"><a href="?m=netelement&action=info&id={$netwire.conn.src.tray.id}"><img src="img/splice.png" height="16" {tip text="{$netwire.conn.src.tray.port.label} {trans("in")} {$netwire.conn.src.tray.name}"}</A></TD>
		</TR></TABLE></TD>
		{elseif $netwire.conn.src.port.id}
		<TD CLASS="text-left">
		port
		</TD>
		{/if}
<!-- ************************************************************************* -->
		<TD CLASS="text-right" STYLE="padding-right:0px;"><img src="img/fiber{$netwire.wire}.gif" width="50" height="12"></TD>
		<TD CLASS="text-center" style="opacity: 0.6;padding-right:0px; padding-left:0px; background-color:{$tube[$netwire.bundle]}; ">{trans("tube #")}{$netwire.bundle} {trans("wire #")}{$netwire.wire}</TD>
		<TD CLASS="text-left" STYLE="padding-left:0px;"><img src="img/fiber{$netwire.wire}.gif" width="50" height="12"></TD>
<!-- ************************************************************************* -->
                {if $netwire.conn.dst.wire.id}
		<TD CLASS="text-right"><TABLE><TR>
                <TD CLASS="text-left"><a href="?m=netelement&action=info&id={$netwire.conn.dst.tray.id}"><img src="img/splice.png" height="16" {tip text="{$netwire.conn.dst.tray.port.label} {trans("in")} {$netwire.conn.dst.tray.name}"}</A></TD>
                <TD CLASS="text-left"><img src="img/fiber{$netwire.conn.dst.wire.wire}.gif" width="50" height="12"></TD>
                <TD CLASS="text-center" style="opacity: 0.6; background-color:{$_FIBEROPTICCOLORSCHEMAS[$netwire.conn.dst.cable.colorschemaid].tubes[$netwire.conn.dst.wire.bundle]}; ">{trans("tube #")}{$netwire.conn.dst.wire.bundle} {trans("wire #")}{$netwire.conn.dst.wire.wire}</TD>
                <TD CLASS="text-left"> <a href="?m=netelement&action=info&id={$netwire.conn.dst.id}"><IMG SRC="img/cable.png" height="16" {tip text="{$netwire.conn.dst.name} {$netwire.conn.dst.cable.dstnode}"}></A></TD>
		</TR></TABLE></TD>
                {elseif $netwire.conn.dst.port.id}
                <TD CLASS="text-left">
                port
                </TD>
                {/if}
                {if $netwire.conn.dst.id}
                <TD CLASS="valign-middle text-left">
                <A HREF="?m=netelement&action=disconnect&id={$netwire.conn.dst.connid}" OnClick="return confirmLink(this, '{trans("Are you sure, you want to delete that connection?")}');"><IMG SRC="img/delete.gif" {tip text="Delete connection"}></A>
                {else}
		<TD CLASS="valign-middle text-center">x </TD>
                <TD CLASS="valign-middle text-left">
                <SPAN id="devlinkproperties_{$dstnode.id}_{$neteleminfo.id}_{$netwire.bundle}_{$netwire.wire}" onClick="javascript:netfiberconnect('{$dstnode.id}', '{$neteleminfo.id}', '{$netwire.bundle}', '{$netwire.wire}');">
                 <IMG SRC="img/netdev_takenports.gif">
                </SPAN>
		</TD>
		{/if}
<!-- ************************************************************************* -->
	</TR>	
	{/foreach}
	{/if}
	{else}
	<TR>
		<TD colspan="6" class="empty-table">
			<P>{trans("No such wires.")}</P>
		</TD>
	</TR>
	{/if}
	</TBODY>
</TABLE>
               </TD>
       </TR>
    </TBODY>
</TABLE>

