<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD style="width: 100%;" class="nobr">
			<IMG SRC="img/mac.gif" alt="">
			<span class="bold">{t a=$netwires|@count}Wires/Fibers ($a):{/t}</span>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
        <TR id="netwires">
                <TD style="width: 100%;">
                        <TABLE class="lmsbox-inner">
        <THEAD>
        <TR>
                <TD style="width: 35%;" class="nobr">
                        {trans("Element")}/{trans("Port")}
                </TD>
                <TD style="width: 10%;" class="nobr">
                </TD>
                <TD style="width: 10%;" class="nobr">
                </TD>
                <TD style="width: 10%;" class="nobr">
                </TD>
                <TD style="width: 35%;" class="nobr text-right">
                        {trans("Element")}/{trans("Port")}
                </TD>
        </TR>
        </THEAD>
        <TBODY>
	{if $netwires}
	{cycle values="light,lucid" print=false}
	{if $neteleminfo.cabletype<50}
	{$i=1}
	{foreach from=$netwires key=n item=wire}
	<TR class="{cycle} highlight">
		<TD>x<BR>y</TD>
		{if $n is even}<TD COLSPAN="3" ROWSPAN="2"><IMG SRC="img/pair{counter}.gif" HEIGHT="12" WIDTH="100%"></TD>{/if}
		<TD CLASS="text-right">y<BR>x</TD>
	</TR>
	{/foreach}
	{elseif $neteleminfo.cabletype<100}
	<TR class="{cycle}">
		<TD COLPSPAN="6">coaxial</TD>
	</TR>
     	{else}
	{$fiber=$_FIBEROPTICCOLORSCHEMAS[$neteleminfo.colorschemaid].fibers}
	{$tube=$_FIBEROPTICCOLORSCHEMAS[$neteleminfo.colorschemaid].tubes}
	{section name=n loop=$netwires start=0}
	<TR class="{cycle}">
		<TD>x<BR>y<BR></TD>
		<TD CLASS="text-right" STYLE="padding-right:0px;"><img src="img/fiber{$netwires[n].wire}.gif" width="50" height="12">
		<TD CLASS="text-center" style="opacity: 0.4;padding-right:0px; padding-left:0px; background-color:{$tube[$netwires[n].bundle]}; "><IMG STYLE="opacity: 1;" SRC="img/fiber{$netwires[n].wire}.gif" HEIGHT="12" WIDTH="100%"></TD>
		<TD CLASS="text-left" STYLE="padding-left:0px;"><img src="img/fiber{$netwires[n].wire}.gif" width="50" height="12">
		<TD CLASS="text-right">y<BR>x</TD>
	</TR>	
	{/section}
	{/if}
	{else}
	<TR>
		<TD colspan="6" class="empty-table">
			<P>{trans("No such wires.")}</P>
		</TD>
	</TR>
	{/if}
	</TBODY>
</TABLE>
               </TD>
       </TR>
    </TBODY>
</TABLE>

