<html>
<head>
       <link href="img/style.css" rel="stylesheet" type="text/css"> 
</head>
<body>
{$xajax}
  <form action="javascript:void(0)" method=POST>
  <table class="lmsbox" width="100%">
  <thead>{if $smarty.get.type==-1}
    <tr>
      <td colspan="2">
	<h1 style="color:red">{trans("First select type of device !!!!!")}</h1>
      </td>
    </tr>
    {else}
    <tr>
      <td colspan="2">
	<h1>{trans("Select device model")}</h1>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="1%">
	{trans("Producer")}:
	</td>
	<td>	<select id="producer" onchange="xajax_updateModels({$smarty.get.type}, this.value)">
	  <option value="-1">{trans('Select')}</option>
	  {foreach key=k item=i from=$producers}
	  <option value="{$i.id}">{$i.name}</option>
	  {/foreach}
	</select>
      </td>
    </tr>
    <tr>
      <td style="white-space: nowrap;">
	{trans('Model')}:
	</td>
	<td>
	<select id="model" style="display:none;" onchange="xajax_updatePortlist(this.value)">
	   <option value="">xxxx</option>
	</select>
      </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
      <td style="text-align:right;" colspan="2">
	<a href="javascript:void(0);" onclick="window.parent.parent.xajax_setPortsForModel(document.getElementById('model').value); window.parent.parent.document.popclick();">{trans('Save')}<img src="img/save.gif"></a>
	<a href="javascript:void(0);">{trans('Cancel')}<img src="img/cancel.gif"></a>
      </td>
    </tr>
    </tbody>
    <tr><td colspan=2>
    <div style="overflow-y: scroll; width: 100%; height:200px;">
    <table>
    <tbody id="porttable" style="display:none;" width="100%">
    </tbody>
    </table>
    </div>
    </td></tr>
    {/if}
   </table>
    </form>
</body>
</html>