<html>
<head>
       <link href="img/style.css" rel="stylesheet" type="text/css"> 
</head>
<body>
{$xajax}
  <form action="javascript:void(0)" method=POST>
  <table class="lmsbox" width="100%">
  <thead>
    <tr>
      <td colspan="2">
	<h1>{trans("Select device model")}</h1>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="1%">
	{trans("Producer")}:
	</td>
	<td>	<select id="producer" onchange="xajax_updateModels({$smarty.get.type}, this.value)">
	  <option value="-1">{trans('Select')}</option>
	  {foreach key=k item=i from=$producers}
	  <option value="{$i.id}">{$i.name}</option>
	  {/foreach}
	</select>
      </td>
    </tr>
    <tr>
      <td style="white-space: nowrap;">
	{trans('Model')}:
	</td>
	<td>
	<select id="model" style="display:none;" onchange="xajax_updatePortlist(this.value)">
	   <option value="">xxxx</option>
	</select>
      </td>
    </tr>
    </tbody>
    <tbody id="porttable" style="display:none;" width="100%">
	  <tr><td></td><td>pppppppp</td></tr>
    </tbody>
    <tblody>
    <tr>
      <td style="text-align:right;" colspan="2">
	<a href="javascript:void(0);">{trans('Save')}<img src="img/save.gif"></a>
	<a href="javascript:void(0);">{trans('Cancel')}<img src="img/cancel.gif"></a>
      </td>
    </tr>
    </tbody>
   </table>
    </form>
</body>
</html>