{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
{$xajax}
<H1>{$layout.pagetitle}</H1>
{block name=netelemipinfobox}
	{include file="netelements/ipinfobox.html"}
{/block}
{block name=neteleminfobox}
	{include file="netelements/infobox.html" devicepanel=1}
{/block}
{block name=netelemipbox}
	{include file="netelements/ipbox.html"}
{/block}
{block name=netelemconnbox}
	{include file="netelements/connbox.html"}
{/block}
{block name=netelemnodes}
	{include file="netelements/nodes.html"}
{/block}
{block name=radiosectors}
	{include file="netelements/radiosectors.html"}
{/block}
{/block}
