{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM method="get" action="?m=netelement&action=list" name="choosefilter">
<INPUT type="hidden" NAME="m" VALUE="netelement">
<INPUT type="hidden" NAME="action" VALUE="list">
<INPUT type="hidden" NAME="page" VALUE="1">
TODO: lista parametrów obiektu w zależności od typu.
<TABLE class="lmsbox">
    <THEAD>
	<TR {tip text="Click on column name to change sorting order"}>
		<TD width="1%">
			<IMG src="img/netdev.gif" ALT="">&nbsp;<A href="?m=netelement&action=list&o=name{if $listdata.direction == "asc" && $listdata.order == "name"},desc{/if}"><B>{trans("Name:")}</B></A> {if $listdata.order == "name"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<IMG src="img/netdev_model.gif" ALT=""> {trans("Type:")}
		</TD>
		<TD width="96%" class="nobr alift-left valign-top">
		</TD>
		<TD width="1%" align="right" valign="top">
			<A href="?m=netelement&action=list&o=id{if $listdata.direction == "asc" && $listdata.order == "id"},desc{/if}">ID:</A> {if $listdata.order == "id"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" NOWRAP>
			<IMG src="img/serialnumber.gif" ALT="">&nbsp;<A href="?m=netelement&action=list&o=serialnumber{if $listdata.direction == "asc" && $listdata.order == "serialnumber"},desc{/if}">{trans("Serial number:")}</A> {if $listdata.order == "serialnumber"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<BR>
			<IMG src="img/producer.gif" ALT="">&nbsp;<A href="?m=netelement&action=list&o=producer{if $listdata.direction == "asc" && $listdata.order == "producer"},desc{/if}">{trans("Manufacturer:")}</A> {if $listdata.order == "producer"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if} / 
			<A href="?m=netelement&action=list&o=model{if $listdata.direction == "asc" && $listdata.order == "model"},desc{/if}">{trans("Model:")}</A> {if $listdata.order == "model"}<IMG src="img/{if $listdata.direction == "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</TD>
		<TD width="1%" align="right" nowrap>
			<B>{trans("Total:")} {$listdata.total|default:"0"}</B>
		</TD>
	</TR>
	<TR>
		<TD colspan="5" class="nobr">
			<span class="bold">{trans("Filter:")}</span>
			{trans("Type")}:
			<SELECT SIZE="1" NAME="t" ONCHANGE="document.choosefilter.submit();">
				<OPTION VALUE="-1" {if $listdata.type == -1}  SELECTED {/if}>- {trans("all")} -</OPTION>
				{foreach $_NETELEMENTTYPES as $idx => $type}
                                <OPTION VALUE="{$idx}"{if $listdata.type == $idx} selected{/if}>{$type}</OPTION>
                                {/foreach}			</SELECT>			
                        {trans("Status")}:
			<SELECT SIZE="1" NAME="s" ONCHANGE="document.choosefilter.submit();">
				<OPTION VALUE="-1" {if $listdata.status == -1}  SELECTED {/if}>- {trans("all")} -</OPTION>
				{foreach $_NETELEMENTSTATUSES as $idx => $status}
					<OPTION VALUE="{$idx}"{if $listdata.status == $idx} SELECTED{/if}>{$status}</OPTION>
				{/foreach}
			</SELECT>
			{trans("Project:")}
			<SELECT SIZE="1" NAME="p" ONCHANGE="document.choosefilter.submit();">
				<OPTION VALUE="-1"{if $listdata.invprojectid == -1} selected{/if}>- {trans("all")} -</OPTION>
				<OPTION VALUE="-2"{if $listdata.invprojectid == -2} selected{/if}>- {trans("without project")} -</OPTION>
				{section name=project loop=$NNprojects}
				<OPTION VALUE="{$NNprojects[project].id}" {if ($listdata.invprojectid == $NNprojects[project].id ) } SELECTED {/if} >{$NNprojects[project].name}</OPTION>
				{/section}
			</SELECT>
			{trans("Network node:")}
			<SELECT SIZE="1" NAME="n" ONCHANGE="document.choosefilter.submit();">
				<OPTION VALUE="-1"{if $listdata.netnode == -1} selected{/if}>- {trans("all")} -</OPTION>
				<OPTION VALUE="-2"{if $listdata.netnode == -2} selected{/if}>- {trans("none")} -</OPTION>
				{foreach $netnodes as $netnode}
				<OPTION VALUE="{$netnode.id}"{if $listdata.netnode == $netnode.id} selected{/if}>{$netnode.name}</OPTION>
				{/foreach}
			</SELECT>
			{trans("Producer:")}
			<SELECT SIZE="1" NAME="producer" ONCHANGE="document.choosefilter.submit();">
				<OPTION VALUE="-1"{if $listdata.producer == -1} selected{/if}>- {trans("all")} -</OPTION>
				<OPTION VALUE="-2"{if $listdata.producer == -2} selected{/if}>- {trans("none")} -</OPTION>
				{foreach $producers as $producer}
				<OPTION VALUE="{$producer}"{if $listdata.producer == $producer} selected{/if}>{$producer}</OPTION>
				{/foreach}
			</SELECT>
			{trans("Model:")}
			<SELECT SIZE="1" NAME="model" ONCHANGE="document.choosefilter.submit();">
				<OPTION VALUE="-1"{if $listdata.model == -1} selected{/if}>- {trans("all")} -</OPTION>
				<OPTION VALUE="-2"{if $listdata.model == -2} selected{/if}>- {trans("none")} -</OPTION>
				{foreach $models as $model}
				<OPTION VALUE="{$model}"{if $listdata.model == $model} selected{/if}>{$model}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	{if $listdata.total != 0}
	<TR>
		<TD class="pagination" colspan="5">
			{include file="scroller.html" loop=$netelemlist}
		</TD>
	</TR>
	{/if}
    </THEAD>
    <TBODY>
	{cycle values="light,lucid" print=false}
	{section name=netelemlist loop=$netelemlist start=$start max=$pagelimit}
	<TR class="highlight {cycle}">
		<TD onClick="return self.location.href='?m=netelement&action=info&id={$netelemlist[netelemlist].id}';" class="nobr valign-top">
			<IMG src="img/netdev.gif" ALT=""> <a name="{$netelemlist[netelemlist].id}"><B>{$netelemlist[netelemlist].name}</B></A><BR>
			<IMG src="img/netdev_model.gif" ALT=""> {$_NETELEMENTTYPES[$netelemlist[netelemlist].type]}
		</TD>
		<TD><TABLE WIDTH="100%"><TR>
		{if $netelemlist[netelemlist].type==0}
		<TD onClick="return self.location.href='?m=netelement&action=info&id={$netelemlist[netelemlist].id}';" class="nobr valign-top">

		</TD>
		
		{if $netelemlist[netelemlist].borough_name}{$tiptext=join("",array($netelemlist[netelemlist].location,"\n",$_BOROUGHTYPES[$netelemlist[netelemlist].borough_type]," ",$netelemlist[netelemlist].borough_name,"\nPowiat ",$netelemlist[netelemlist].district_name,"\nWojewództwo ",$netelemlist[netelemlist].state_name))}
		{elseif $netelemlist[netelemlist].location}{$tiptext=$netelemlist[netelemlist].location}
		{else}{$tiptext="aaaa"}
		{/if}
			
		<TD onClick="return self.location.href='?m=netelement&action=info&id={$netelemlist[netelemlist].id}';" class="nobr valign-top">
			{if $netelemlist[netelemlist].netnode}<a href="?m=netnodeinfo&id={$netelemlist[netelemlist].netnodeid}" title="{$tiptext}">{$netelemlist[netelemlist].netnode}</a>{/if}

		</TD>
		{elseif $netelemlist[netelemlist].type==1}
		{elseif $netelemlist[netelemlist].type==2}
		<TD WIDTH="25%" class="nobr valign-middle">
                        <IMG src="img/netdev.gif" ALT=""> {if $netelemlist[netelemlist].netnodeid}<a href="?m=netnodeinfo&id={$netelemlist[netelemlist].netnodeid}">{$netelemlist[netelemlist].netnode}</a>{/if}<BR>
			<IMG src="img/netdev.gif" ALT=""> {if $netelemlist[netelemlist].netcable.dstnodeid}<a href="?m=netnodeinfo&id={$netelemlist[netelemlist].netcable.dstnodeid}">{$netelemlist[netelemlist].netcable.dstnetnode}</a>{/if}
			
		<TD WIDTH="25%" class="nobr valign-middle">
			{trans("Distance:")} <B>{$netelemlist[netelemlist].netcable.distance} {trans("meters")}</B>
		</TD>
		<TD WIDTH="25%" class="nobr valign-middle">
			{trans("Cable type:")} <B>{$_NETCABLETYPES[$netelemlist[netelemlist].netcable.cabletype]}</B>
		</TD>
		<TD WIDTH="25%" class="nobr valign-middle">
			{trans("Number of wires:")} <B>{$netelemlist[netelemlist].netcable.capacity}</B>
		</TD>
		{elseif $netelemlist[netelemlist].type==3}
		{elseif $netelemlist[netelemlist].type==4}
		{elseif $netelemlist[netelemlist].type==99}
		{/if}
		</TR></TABLE>
		<TD onClick="return self.location.href='?m=netelement&action=info&id={$netelemlist[netelemlist].id}';" align="right" VALIGN="TOP">
			({$netelemlist[netelemlist].id|string_format:"%04d"})
		</TD>
		<TD onClick="return self.location.href='?m=netelement&action=info&id={$netelemlist[netelemlist].id}';" NOWRAP>
			<IMG src="img/serialnumber.gif" ALT=""> {$netelemlist[netelemlist].serialnumber}<BR>
			<IMG src="img/producer.gif" ALT=""> {$netelemlist[netelemlist].producer} {if $netelemlist[netelemlist].model}/ {$netelemlist[netelemlist].model}{/if}
		</TD>
		<TD align="right" class="nobr">
			<a href="?m=netelement&action=del&id={$netelemlist[netelemlist].id}" onClick="return confirmLink(this, '{t a=$netelemlist[netelemlist].name}Are you sure, you want to remove device \'$a\' from database?{/t}')"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
			<a href="?m=netelement&action=edit&id={$netelemlist[netelemlist].id}"><IMG src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
			<a href="?m=netelement&action=add&id={$netelemlist[netelemlist].id}"><IMG src="img/clone.gif" alt="[ {trans("Clone")} ]" title="[ {trans("Clone")} ]"></A>
			<a href="?m=netelement&action=info&id={$netelemlist[netelemlist].id}"><IMG src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></A>
		</TD>
	</TR>
	{if $netelemlist[netelemlist.index_next].ownerid == $netelemlist[netelemlist].ownerid && $listdata.order == "owner"}{cycle print=false}{/if}
	{sectionelse}
	<TR>
		<TD colspan="5" class="empty-table">
			<p>{trans("There are no network elements in your database.")}</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR>
		<TD class="pagination" colspan="5">
			{include file="scroller.html" loop=$netelemlist}
		</TD>
	</TR>
	{/if}
	<TR>
		<TD COLSPAN="4" ALIGN="right">
			<B>
				{trans("Total:")} {$listdata.total|default:"0"}
			</B>
		</TD>
		<TD COLSPAN="1"></TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
{/block}
