{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
{$xajax}
<H1>{$layout.pagetitle}</H1>
{block name=neteleminfobox}
	{include file="netelements/neteleminfobox.html"}
{/block}
{block name=netelemipbox}
	{include file="netelements/netelemipbox.html"}
{/block}
{block name=netelemmanagementurl}
	{include file="managementurl/managementurls.html"}
{/block}
{block name=netelemconnbox}
	{include file="netelements/netelemconnbox.html"}
{/block}
{block name=netelemnodes}
	{include file="netelements/netelemnodes.html"}
{/block}
{block name=netelemradiosectors}
	{include file="netelements/radiosectors.html"}
{/block}
{/block}
