<style>
td{ border: 1px;
}
</style>
<table style="border:1px solid; border-collapse: collapse;">
<!-- taca i kable -->
<tr><td style="border-top:2px solid;">nazwakabla1</td><td>\</td><td>/</td><td></td><td colspan="48" rowspan="4" style="width:600px; height:300px; border:1px solid;">grafika tacy ze spawami (48kolumn)</td><td></td><td>/</td><td>nazwakabla2</td></tr>

<tr><td>nazwakabla3</td><td style="border-left:2px solid;">&nbsp;</td><td></td><td style="border-left:2px solid;"></td><td></td><td style="border-right:2px solid;"></td><td>nazwakabla4</td></tr>

<tr><td>nazwakabla5</td><td style="border-left:2px solid;"></td><td></td><td style="border-left:2px solid;"></td><td></td><td style="border-right:2px solid;">&nbsp;</td><td>nazwakabla6</td></tr>

<tr><td></td><td style="vertical-align: bottom;">\</td><td style="border-bottom: 2px solid;"></td><td style="border-left:2px solid; border-bottom:2px solid;"></td><td>/</td><td></td><td>&nbsp;</td></tr>

<tr><td>&nbsp;</td><td></td><td style="border-left:2px solid;"></td><td></td>
<!-- patch panel -->
<td>img_p1</td><td>img_p2</td><td>img_p3</td><td>...</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>img_p47</td><td>img_p48</td>
<td></td><td></td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td>
<td>img_p49</td><td>img_p50</td><td>img_p51</td><td>...</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>img_p95</td><td>img_p96</td>
<td></td><td></td><td>&nbsp;</td></tr>

</table>