{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<!--// $Id$ //-->
{include file="calendar_js.html"}
<script type="text/javascript" src="img/netobjecthelper.js"></script>
<H1>{$layout.pagetitle}</H1>
<FORM NAME="netobjadd" METHOD="POST" ACTION="?m=netobjadd">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
    <THEAD>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/netdev.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Name:")}</B>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[name]"
			VALUE="{$netobj.name}" MAXLENGTH="32" {tip trigger="name" text="Enter object name" bold=1}>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
	<TR>
        <TD WIDTH="100%" COLSPAN="3" CLASS="container">
		    <TABLE WIDTH="100%" CELLPADDING="0">
				<TR>
					<TD WIDTH="50%" style="vertical-align:top;">
					        <TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Status:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netobj[status]" {tip text="Select device status"} VALUE="{$netobj.status}">
				{foreach $_NETELEMENTSTATUSES as $idx => $status}
				<OPTION VALUE="{$idx}"{if $netobj.status == $idx} selected{/if}>{$status}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
        <TR>
                <TD WIDTH="1%">
                        <IMG SRC="img/producer.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Type:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <SELECT ID="type" NAME="netobj[type]" {tip text="Select object type"} VALUE="{$netobj.type}" onchange="changeObjectType();">
                                {foreach $_NETOBJECTTYPES as $idx => $type}
                                <OPTION VALUE="{$idx}"{if $netobj.type == $idx} selected{/if}>{$type.label}</OPTION>
                                {/foreach}
                        </SELECT>
                </TD>
        </TR>

	<TR ID="producer" STYLE="display:none;">
		<TD WIDTH="1%">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Manufacturer:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[producer]" VALUE="{$netobj.producer}" {tip text="Enter producer name (optional)"}>
		</TD>
	</TR>
	<TR ID="model" STYLE="display:none;">
		<TD WIDTH="1%">
			<IMG SRC="img/netdev_model.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Model:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[model]" VALUE="{$netobj.model}" {tip text="Enter device model (optional)"}>
			<BR>
                        <INPUT type="hidden" name="netobj[netobjicemodelid]" value="{$netobj.netobjicemodelid}">
		</TD>
	</TR>
	<TR id="serial" STYLE="display:none;">
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Serial number:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[serialnumber]" VALUE="{$netobj.serialnumber}" {tip text="Enter device serial number (optional)"}>
		</TD>
	</TR>
	<TR ID="reserve">
		<TD WIDTH="1%">
			<IMG SRC="img/port.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Quantity:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[reserve_quantity]" VALUE="{if $netobj.reserve_quantity}{$netobj.reserve_quantity}{/if}" {tip trigger="reserve_quantity" text="Enter quantity of fiberoptic cable"}>
		</TD>
	</TR>
        <TR ID="closure" STYLE="display:none;">
                <TD WIDTH="1%">
                        <IMG SRC="img/port.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Capacity:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netobj[closure_capacity]" VALUE="{if $netobj.closure_capacity}{$netobj.closure_capacity}{/if}" {tip trigger="closure_capacity" text="Enter the splice tray capacity"}>
                </TD>
        </TR>
        <TR ID="box" STYLE="display:none;">
                <TD WIDTH="1%">
                        <IMG SRC="img/port.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Number of adaptors:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netobj[box_adaptors]" VALUE="{if $netobj.box_adaptors}{$netobj.box_adaptors}{/if}" {tip trigger="box_adaptors" text="Enter number of adaptors in splice box"}>
                </TD>
        </TR>
        <TR ID="splitter" STYLE="display:none;">
                <TD WIDTH="1%">
                        <IMG SRC="img/port.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>{trans("Split:")}</B>
                </TD>
                <TD WIDTH="98%">
                        <INPUT TYPE="TEXT" NAME="netobj[splitter_in]" VALUE="{if $netobj.splitter_in}{$netobj.splitter_in}{/if}" {tip trigger=" splitter_in" text="Enter number of input channels"} SIZE="2"> :
                        <INPUT TYPE="TEXT" NAME="netobj[splitter_out]" VALUE="{if $netobj.splitter_out}{$netobj.splitter_out}{/if}" {tip trigger=" splitter_out" text="Enter number of output channels"} SIZE="6">
                </TD>
        </TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Location:")}</B>
		</TD>
		<TD WIDTH="98%" NOWRAP>
		    <INPUT TYPE="TEXT" SIZE="30" VALUE="{$netobj.location}" id="location" NAME="netobj[location]"  {tip text="Enter location (optional)" trigger="location"}>
			<A href="javascript: void(0);" onclick="if (check_teryt()) return locationchoosewin('netobj', 'netobjadd', document.forms['netobjadd'].elements['netobj[location_city]'].value,  document.forms['netobjadd'].elements['netobj[location_street]'].value)" {tip text="Click to select location"}>&raquo;&raquo;&raquo;</A>
			<BR>
		    <INPUT type="hidden" name="netobj[location_city]" value="{$netobj.location_city}">
		    <INPUT type="hidden" name="netobj[location_street]" value="{$netobj.location_street}">
		    <INPUT type="hidden" name="netobj[location_house]" value="{$netobj.location_house}">
		    <INPUT type="hidden" name="netobj[location_flat]" value="{$netobj.location_flat}">
			<INPUT TYPE="checkbox" name="netobj[teryt]" id="teryt" onchange="check_teryt('location')"{if $netobj.teryt} checked{/if}><label for="teryt">{trans("TERRIT-DB")}</label>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("GPS longitude:")}</B>
		</TD>
		<TD WIDTH="98%" NOWRAP>
			<INPUT id="longitude" TYPE="text" NAME="netobj[longitude]" VALUE="{$netobj.longitude}" {tip text="Enter device longitude (optional)" trigger="longitude"}>
			<a href="javascript: void(0);" onClick="return gpscoordschoosewin(document.netobjadd.elements['netobj[longitude]'], document.netobjadd.elements['netobj[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("GPS latitude:")}</B>
		</TD>
		<TD WIDTH="98%" NOWRAP>
			<INPUT id="latitude" TYPE="text" NAME="netobj[latitude]" VALUE="{$netobj.latitude}" {tip text="Enter device latitude (optional)" trigger="latitude"}>
			<a href="javascript: void(0);" onClick="return gpscoordschoosewin(document.netobjadd.elements['netobj[longitude]'], document.netobjadd.elements['netobj[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</A>
		</TD>
	</TR>
{if ConfigHelper::checkConfig('phpui.radius')}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Shortname:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[shortname]" VALUE="{$netobj.shortname}" MAXLENGTH="32" {tip trigger="shortname" text="Enter shortname (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Type:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netobj[nastype]" {tip text="Select type (optional)" trigger="nastype"}>
				<OPTION VALUE="0"></OPTION>
				{foreach from=$nastype item=item key=key}
				<OPTION VALUE="{$key}" {if $key==$netobjices.nastype} SELECTED{/if}>{$item.name}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Max clients:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[clients]" VALUE="{if $netobj.clients}{$netobj.clients}{/if}" {tip trigger="clients" text="Enter max clients (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Secret:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[secret]" VALUE="{$netobj.secret}" MAXLENGTH="60" {tip text="Enter secret (optional)"}>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/radius.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Community:")}</B>
		</TD>
		<TD WIDTH="98%">
			<INPUT TYPE="TEXT" NAME="netobj[community]" VALUE="{$netobj.community}" MAXLENGTH="50" {tip text="Enter community (optional)"}>
		</TD>
	</TR>
{/if}
{if isset($channels)}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/channel.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Channel:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netobj[channelid]" {tip text="Select channel (optional)" trigger="channelid"}>
				<OPTION VALUE="">- {trans("none")} -</OPTION>
				{foreach from=$channels item=item}
				<OPTION VALUE="{$item.id}" {if $item.id == $netobj.channelid} SELECTED{/if}>{$item.name}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
{/if}
                                        </TABLE>
				</TD>
				<TD WIDTH="50%" style="vertical-align:top;">
					<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/calendar.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Purchase date:")}</B>
		</TD>
		<TD WIDTH="98%">
			<div class="calendar">
			<INPUT TYPE="TEXT" NAME="netobj[purchasedate]" VALUE="{if $netobj.purchasedate}{$netobj.purchasedate}{/if}" SIZE="10" MAXSIZE="10" {tip trigger="purchasedate" text="Enter device purchase date in 'yyyy/mm/dd' format or click to choose date from calendar (optional)"}>
			</div>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/guarantee.png" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Guarantee period:")}</B>
		</TD>
		<TD WIDTH="98%">
			<SELECT SIZE="1" NAME="netobj[guaranteeperiod]" {tip text="Select device guarantee period (optional)"}>
				{foreach from=$_GUARANTEEPERIODS key=key item=period}
				<OPTION VALUE="{$key}"{if $netobj.guaranteeperiod == $key} SELECTED{/if}>{$period}</OPTION>
				{/foreach}
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/desc.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Description:")}</B>
		</TD>
		<TD WIDTH="98%">
			<TEXTAREA NAME="netobj[description]" COLS="40" ROWS="5" {tip text="Enter additional information (optional)"}>{$netobj.description}</TEXTAREA>
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<img src="img/money.gif" alt="">
		</TD>
		<TD WIDTH="1%" class="bold nobr">
			{trans("Investment project:")}
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netobj[invprojectid]" ID="NNproject" VALUE="{$netobjinfo.invprojectid}" {tip text="Select project for this node"} onchange="setNNProject();">
				<OPTION value="-2" {if ($netobjinfo.invprojectid == '-2' ) } selected="selected" {/if} >- {trans("none")} -</OPTION>
				<OPTION value="-1" {if ($netobjinfo.invprojectid == '-1' ) } selected="selected" {/if}>{trans("New project")}</OPTION>
				<OPTION value="1" {if ($netobjinfo.invprojectid == '1' ) } selected="selected" {/if}>{trans("From root device")}</OPTION>
				{section name=project loop=$NNprojects}
				<OPTION VALUE="{$NNprojects[project].id}" {if ($netobjinfo.invprojectid == $NNprojects[project].id ) } selected="selected" {/if} >{$NNprojects[project].name}</OPTION>
				{/section}
			</SELECT>
			<INPUT TYPE="TEXT" NAME="netobj[projectname]" VALUE="{$netobjinfo.projectname}" {tip text="Enter new project name" trigger="projectname" } ID="NNprojectname">
		</TD>
	</TR>
	<TR>
		<TD width="1%">
			<img src="img/netdev.gif" alt="">
		</TD>
		<TD WIDTH="1%" class="bold nobr">
			{trans("Net node:")}
		</TD>
		<TD WIDTH="98%">
			<SELECT NAME="netobj[netnodeid]" VALUE="{$netobjinfo.netnodeid}" {tip text="Select node"} >
				<OPTION VALUE="-1">{trans("None")}</OPTION>
				{section name=nd loop=$NNnodes}
				<OPTION VALUE="{$NNnodes[nd].id}" {if ($netobjinfo.netnodeid == $NNnodes[nd].id ) } selected="selected" {/if} >{$NNnodes[nd].name}</OPTION>
				{/section}
			</SELECT>
		</TD>
	</TR>
	
	                                        </TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.netobjadd.submit();" ACCESSKEY="s">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=netobjlist">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>
    </TBODY>
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['netobjadd'].elements['netobj[name]'].focus();
check_teryt('location', true);
setNNProject();
//-->
</SCRIPT>
{/block}
